<html>
    <head>
       <title>Jen's Integrator Tool</title>
    </head>
    <body>
	

        <div>
            <h1><a href="">About Integrator Tool</a></h2>
            <p> Welcome! This is a new tool that I'm developing to build predictive biomarker models for identifying drug-drug interactions, off-target effects, and genetic predictors of drug efficacy </p>
        </div>
 
        <div>
            <h1><a href="">SETDB1 example</a></h2>
            <p> This analysis was for a published SGC TEP</p>
        </div>
    </body>
</html>
