<html>
    <head>
       <title>Jen's Integrator Tool</title>
    </head>
    <body>
        <div>
           <h1><a href="/">About Integrator Tool</a></h1> 
        </div>

        {% for nta in netans %}
            <div>
                <p>published: {{nta.published_date}} </p>
                <h1><a href="">{{nta.title}}</a></h1>
                <p><a href="">{{nta.gene_text}}</a></h1>
                <p>{{nta.text|linebreaksbr}}</p>
            </div>
        {% endfor %}
    </body>
</html>

